/* UNIVERSAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(182, 182, 182, 0.2);
}


/* HEADER */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
}

.head-group-1 {
    display: flex;
    align-items: center;
}

.head-group-2 {
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: space-between;
    margin-right: 20px;
}

.logo {
    width: 90px;
    margin-right: 46px;
    margin-top: 5px;
}

.search-func {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 3px 2px rgba(214, 214, 214, 0.55);
    border-radius: 25px;
    height: 48px;
    width: 690px;
}

.search-func:hover {
    box-shadow: 1px 2px 6px 3px rgba(214, 214, 214, 0.65);
}

.search-input {
    width: 600px;
    margin-left: 20px;
    border: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.search-input:focus {
    outline: none;
}

.search-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    margin-right: 5px;
}

.signin-btn {
    padding: 10px 19px;
    background-color: rgb(26, 115, 232);
    color: white;
    border: none;
    border-radius: 4px;
}

.signin-btn:hover {
    background-color: rgba(26, 115, 232, 0.9);
    box-shadow: 1px 1px 2px 1px rgba(26, 115, 232, 0.2);
}


/* SEARCH FILTER */
.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    left: 180px;
    width: 655px;
}

.serfil-items {
    display: flex;
}

.serfil-items li {
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
}

.serfil-items a {
    font-weight: 500;
}

.serfil-items a:visited {
    color: rgb(95, 99, 104);
}

.serfil-items img {
    height: 18px;
    margin-right: 3px;
    position: relative;
    top: 3px;
}

.serfil-tools {
    padding: 6px 13px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    color: rgb(95, 99, 104);
}

.serfil-tools:hover {
    padding: 6px 13px;
    border-radius: 2px;
    background-color: rgba(214, 214, 214, 0.15);
    border: 1px solid rgba(214, 214, 214, 1);
    box-shadow: 1px 1px 1px 0px rgba(182, 182, 182, 0.7);
}

.serfil-tools a {
    font-weight: 500;
    font-size: 1.1em;
    color: rgb(95, 99, 104);
}

.serfil-tools a:hover {
    color: black;
}

figure hr {
    margin-top: 8px;
    border: none;
    height: 1px;
    background-color: rgba(182, 182, 182, 0.2);
}


/* RESULTS GRID TEMPLATE */
.results-returned {
    font-size: 0.9em;
    margin-left: 180px;
    margin-top: 10px;
    color: rgb(112, 117, 122);
}

.results-grid {
    display: grid;
    grid-template-columns: 655px;
    grid-template-rows: auto;
    row-gap: 30px;
    justify-items: start;
    margin-top: 25px;
    margin-left: 180px;
}

.results-link {
    font-size: 0.9em;
    color: rgb(32, 33, 36);
    line-height: 1.4em;
}

.results-grid-item h3 {
    font-size: 1.3em;
    line-height: 1.8em;
    font-weight: 500;
    color: rgb(26, 13, 171);
}

.results-grid-item h3 a {
    color: rgb(26, 13, 171);
}

.results-grid-item p {
    font-size: 0.9em;
    color: rgb(77, 81, 86);
}

/* SEARCH SUGGESTIONS */
.alt-suggestion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.alt-suggestion h2 {
    font-weight: 500;
    font-size: 1.45em;
    line-height: 2em;
}

.alt-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 13px;
}

.feedback-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-block hr {
    width: 89%;
    border: none;
    height: 1px;
    background-color: rgba(182, 182, 182, 0.2);
}

.alt-feedback {
    font-size: 0.8em;
    color: rgb(112, 117, 122);
}

/* RELATED SEARCHES */
.related-searches h2 {
    font-weight: 500;
    font-size: 1.45em;
    line-height: 2em;
}

.related-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.related-container {
    display: flex;
    justify-content: space-between;
    width: 655px;
    margin: 20px 0px;
}

.img-tile {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    display: block;
    object-fit: contain;
    background-color: rgba(0,0,0,.03);
    border-radius: 10px;
}

.related-container a {
    font-size: 0.93em;
    color: #222;
}

.related-container a:hover {
    text-decoration: underline;
}

.related-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 325px;
    padding: 7px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid rgba(214, 214, 214, 1);
    background-color: white;
    font-size: 0.9em;
    color: #1a0dab;
}

.related-btn:hover {
    background-color: rgba(214, 214, 214, 0.15);
}

.rbtn-icon {
    width: 18px;
    position: relative;
    right: 105px;
}

.related-branded {
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-color: rgba(0,0,0,.03);
}

.relser p {
    position: relative;
    right: 230px;
}

.relser {
    margin-top: 10px;
}

.related-searches .feedback-block {
    margin-top: 15px;
}


/* SUGGESTED SEARCHES */
.suggested-container {
    display: flex;
    margin-bottom: 40px;
}

.sg1 {
    margin-right: 8px;
}

.sg2 {
    margin-left: 8px;
}

.suggested-item {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 0px 15px;
    font-weight: 700;
    font-size: 1.07em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 8px;
}

.suggested-item img {
    width: 20px;
    margin: 10px;
    margin-right: 20px;
}

/* NAV SPRITES */
.pagenav {
    display: flex;
    margin-bottom: 50px;
}

.g, .o {
    background-image: url(images/nav_logo321.webp);
    background-repeat: no-repeat;
    height: 48px;
    width: 28px;
}

.g {
    background-position: -24px 0px;
}

.o {
    background-position: -54px 0px;
    width: 18px;
}
