* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}


/* HEADER */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
}

.head-group-1 {
    display: flex;
    align-items: center;
}

.head-group-2 {
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: space-between;
    margin-right: 20px;
}

.logo {
    width: 90px;
    margin-right: 46px;
    margin-top: 5px;
}

.search-func {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 3px 2px rgba(214, 214, 214, 0.55);
    border-radius: 25px;
    height: 48px;
    width: 690px;
}

.search-func:hover {
    box-shadow: 1px 2px 6px 3px rgba(214, 214, 214, 0.65);
}

.search-input {
    width: 600px;
    margin-left: 20px;
    border: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.search-input:focus {
    outline: none;
}

.search-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    margin-right: 5px;
}

.signin-btn {
    padding: 10px 19px;
    background-color: rgb(26, 115, 232);
    color: white;
    border: none;
    border-radius: 4px;
}

.signin-btn:hover {
    background-color: rgba(26, 115, 232, 0.9);
    box-shadow: 1px 1px 2px 1px rgba(26, 115, 232, 0.2);
}


/* SEARCH FILTER */
.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    left: 185px;
    width: 655px;
}

.serfil-items {
    display: flex;
}

.serfil-items li {
    list-style: none;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
}

.serfil-items a {
    text-decoration: none;
    font-weight: 500;
}

.serfil-items a:visited {
    color: rgb(95, 99, 104);
}

.serfil-items img {
    height: 18px;
    margin-right: 3px;
    position: relative;
    top: 3px;
}

.serfil-tools {
    padding: 6px 13px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    color: rgb(95, 99, 104);
}

.serfil-tools:hover {
    padding: 6px 13px;
    border-radius: 2px;
    background-color: rgba(214, 214, 214, 0.15);
    border: 1px solid rgba(214, 214, 214, 1);
    box-shadow: 1px 1px 1px 0px rgba(182, 182, 182, 0.7);
}

.serfil-tools a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(95, 99, 104);
}

.serfil-tools a:hover {
    color: black;
}
