* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-bottom: 100px;
}

/* GOOGLE NAVBAR */
.googlenav {
  display: flex;
  align-items: center;
  margin: 20px auto;
}
.glogocontainer {
  display: flex;
  padding-left: 24px;
  padding-right: 45px;
}
.glogo {
  width: 91px;
}
.gsearch {
  width: 692px;
  height: 46px;
  border-radius: 30px;
  border: solid thin rgb(218, 218, 218);
  display: flex;
  align-content: center;
}
.gsearch:hover {
  box-shadow: 0px 2px 3px 2px rgb(240, 240, 240);
}
.searchicon {
  height: 17px;
  align-self: center;
  margin-left: 23px;
}
.clearicon {
  height: 14px;
  align-self: center;
  margin-left: 15px;
}
.ginput {
  margin-left: 20px;
  width: 580px;
  height: 45px;
  border-style: none;
  background: none;
  font-size: 1rem;
  padding-bottom: 4px;
}
::placeholder {
  color: #212121;
  font-size: 0.99rem;
  opacity: 1;
}
.gaccount {
  display: flex;
  margin-left: auto;
  margin-right: 43px;
}
.appsicon {
  height: 16px;
  align-self: center;
  margin-right: 25px;
}
.gsign {
  background: #1a73e8;
  height: 36px;
  width: 97px;
  padding: 7px 12px;
  border: none;
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
  border-radius: 4px;
}
.gsign:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background: #2b7de9;
}

/* RESULTS FILTER */
.resultsfilter {
  display: flex;
  width: 600px;
  margin-left: 180px;
}
.filter-set1,
.filter-set2 {
  display: flex;
}
.filteroption {
  list-style: none;
  padding: 15px;
  font-size: 0.8rem;
}
.filteroption a {
  color: #62666b;
  text-decoration: none;
}
hr {
  height: 1px;
  border: none;
  color: rgb(218, 218, 218);
  background-color: rgb(218, 218, 218);
  width: 100%;
}

/* GRID */
.results {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  row-gap: 20px;
  margin-top: 20px;
}
.row1 {
  grid-row-start: 0;
  grid-row-end: 1;
}
.row2 {
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 25px auto;
}
.row3 {
  grid-row-start: 2;
  grid-row-end: 3;
}
.row4 {
  grid-row-start: 3;
  grid-row-end: 4;
}
.row5 {
  grid-row-start: 4;
  grid-row-end: 5;
}
.row6 {
  grid-row-start: 5;
  grid-row-end: 6;
  margin-bottom: 25px;
}
.row7 {
  grid-row-start: 6;
  grid-row-end: 7;
}
.row8 {
  grid-row-start: 7;
  grid-row-end: 8;
  margin-top: -10px;
}

/* RESULTS FEED */
.resultsfeed {
  width: 640px;
  margin-left: 180px;
}
.resultcount p {
  color: #70757a;
  font-size: 0.85rem;
  margin: 15px auto;
}
.ritem-link {
  font-size: 0.9rem;
  font-weight: 400;
  color: #202124;
  margin-bottom: 5px;
}
.link-path {
  color: #606469;
}
.ritem-cache {
  width: 8px;
}
.ritem-title {
  font-size: 1.25rem;
  font-weight: 400;
  color: #1a0dab;
  margin-bottom: 5px;
}
.ritem-title:hover {
  text-decoration: underline;
}
.ritem-desc {
  color: #5f6368;
  line-height: 1.4;
  margin-bottom: 15px;
}
.resultitem {
  margin-bottom: 30px;
}
.vidcontainer {
  display: flex;
}
.resultitem-video h1 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: -40px;
}
.videocard {
  border-radius: 8px;
  border: solid thin rgb(218, 218, 218);
  width: 212px;
  margin-right: 8px;
}
.vidthumb {
  border-radius: 6px 6px 0px 0px;
  width: 210px;
}
.vidtext {
  padding: 15px;
  padding-right: 45px;
  height: 180px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.vidtext h3 {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  color: #1a0dab;
}
.vidtext h3:hover {
  text-decoration: underline;
}
.vidtext p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #848484;
}
.vidsrc {
  color: #202124;
}

.dropdown h1 {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 10px 15px;
  border: solid thin rgb(218, 218, 218);
  border-radius: 8px 8px 0px 0px;
}
.dropitem {
  font-size: 1.05rem;
  padding: 12px 15px;
  border: solid thin rgb(218, 218, 218);
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
}
.dropitem img {
  width: 13px;
  margin-right: 5px;
}
.dropcap {
  font-size: 0.8rem;
  color: #70757a;
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-right: 20px;
}
.dropitem.bottom {
  border-radius: 0px 0px 8px 8px;
}

.row6 h1 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #1a0dab;
}

.row6 h1:hover {
  text-decoration: underline;
}
.imgbtn {
  background-color: white;
  border: solid thin rgb(218, 218, 218);
  border-radius: 20px 20px 20px 20px;
  padding: 10px 10px;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
.imgs {
  height: 130px;
  max-width: 170px;
  object-fit: cover;
  margin-right: 5px;
  border: solid thin rgb(218, 218, 218);
  border-radius: 4px 4px 4px 4px;
}
.imgoptions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.more {
  display: flex;
  align-items: baseline;
  margin-left: 4px;
}
.more img {
  width: 16px;
  margin-right: 8px;
  align-self: baseline;
}
.moreimgs {
  font-size: 1rem;
  color: #1a0dab;
  margin-top: 10px;
}
.moreimgs:hover {
  text-decoration: underline;
}
.imgreport {
  font-size: 0.8rem;
  color: #70757a;
  margin-top: 8px;
  margin-right: 20px;
}

/* PEOPLE ALSO SEARCHED FOR */
.row8 ,h2, h3 {
  font-weight: 400;
}
.row8 h2 {
  margin-bottom: 20px;
}
.webbuilders {
  border: solid thin rgb(218, 218, 218);
  border-radius: 8px 8px 8px 8px;
  padding: 20px 15px;
}
.webcontainer {
  display: flex;
  margin-top: 25px;
}
.website {
  border: solid thin rgb(218, 218, 218);
  border-radius: 8px 8px 8px 8px;
  margin-right: 6px;
  display: inline-block;
  height: 161px;
}
.website p {
  padding: 4px 7px;
  font-size: 0.9rem;
}
.website img {
  width: 96px;
  height: 96px;
  border-radius: 8px 8px 0px 0px;
  object-fit: contain;
}
.morewebcontainer {
  display: flex;
  background-color: white;
  border: solid thin rgb(218, 218, 218);
  border-radius: 20px 20px 20px 20px;
  width: 305px;
  padding: 10px;
  margin: 15px auto 0px;
}
.morewebcontainer img {
  width: 14px;
  margin-left: 8px;
}
.morewebsites {
  margin: auto;
  color: #1a0dab;
  font-size: 0.9rem;
  border-style: none;
  background-color: white;
}

/* RELATED SEARCHES */
.relatedcontainer {
  display: flex;
}
.relateditems {
  margin-right: 30px;
  margin-top: 20px;
}
.relateditems ul {
  list-style: none;
  color: #1a0dab;
  font-size: 0.9rem;
  line-height: 1.8;
  font-weight: 700;
}

/* FOOTER NAVBAR */
footer {
  bottom: 0;
  right: 0;
  left: 0;
}
.ftrow {
  background: #f2f2f2;
  padding: 11px 30px;
  border-top: solid thin #e4e4e4;
  display: flex;
  justify-content: space-between;
}

.ftrow ul {
  list-style-type: none;
  display: flex;
  margin-left: 150px;
}

.ftrow p {
  color: #6f6f6f;
  margin-left: 150px;
}

.ftnav {
  font-size: 0.9rem;
  margin-right: 25px;
  color: #5f6368;
  text-decoration: none;
}
.ftnav:hover {
  color: #333;
}
